* {
  box-sizing: border-box;
}

.arknoid-body  {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: auto;
}
.bg-wrapper {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
  background-image: url("/images/pf.jpg");
  background-size: cover;
  mix-blend-mode: luminosity;
  filter: blur(5px);
}
.wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: black;
  /* background: #272730; */
  cursor: url("/images/favicon.png") 39 39, auto;
  /* cursor: url("https://github.com/chenglou/react-motion/raw/master/demos/demo8-draggable-list/cursor.png") 39 39, auto; */
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
}

.startup {
  position: absolute;
  top: 50px;
  left: 50px;
  color: white;
  font-size: 1.2em;
}
